<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.sm.manager.dao.ManRoleDao">
    <select id="findPageObjects" resultType="com.future.sm.manager.pojo.ManRole">
        select * from sys_roles <include refid="whereUsername"/>
        order by createdTime desc
         limit #{start},#{pageSize}
    </select>

    <select id="gerRowCounts" resultType="int">
        select count(*) from sys_roles <include refid="whereUsername"/>
    </select>

    <sql id="whereUsername">
        <where>
            <if test="name != null and name != ''">
                name like concat("%",#{name},"%")
            </if>
        </where>
    </sql>

    <insert id="doSaveObject">
        insert into sys_roles
            (id,name,note,createdTime,modifiedTime,
            createdUser,modifiedUser)
            values
            (null,#{name},#{note},now(),now(),
             #{createdUser},#{modifiedUser})
    </insert>

    <update id="updateObject">
        update sys_roles
        <set>
            <if test="name!=null and name!=''">
                name = #{name},
            </if>
            <if test="note!=null and note!=''">
                note = #{note},
            </if>
            <if test="modifiedUser!=null and modifiedUser!=''">
                modifiedUser=#{modifiedUser},
            </if>
            modifiedTime=now()
        </set>
        where id = #{id}
    </update>
</mapper>